<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>psc.pirate</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pirate</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>twitter</string>
		<string>twitterkit</string>
		<string>com.googleusercontent.apps</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required for palm verification.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>VERY_SDK_KEY</key>
	<string>$(VERY_SDK_KEY)</string>
</dict>
</plist>
